# dependencies
/js/node_modules
/typescript/node_modules

# js testing
/js/coverage
/typescript/coverage

# production
/js/build
/js/es
/js/lib
/js/dist
/js/dist-parcel
/js/.parcel-cache
/typescript/build
/lib

#python
*.pyc
*.pytest_cache
/python/python3-env

# IDE cache
.vscode
.DS_Store
js/eslint-reports/lint-results.html

#clang
*.out
