# dependencies
/js/node_modules
/typescript/node_modules

# js testing
/js/coverage
/typescript/coverage

# package
/js/package-lock.json
/typescript/package-lock.json

# production
/build
/lib

#python
*.pyc
